.resourcetab {
    flex-direction: row;
    display: flex;
    background-color: var(--brown);
    padding: .25rem;
    font-size: 1.25rem;
    border: 2px ridge var(--golden);
    height: 4rem;
    align-items: center;
    width: 100%;
}

.resource {
    display: inline-block;
    padding: 0 .5rem;
}
.resource-numbers {
    display: inline-block;
    padding: 0 .25rem;
}