.Button {
    outline: none;
    border: var(--border);
    border-radius: 4px;
    background-color: var(--green);
    text-align: center;
    padding: .25rem;
    min-width: 5rem;
}
.Button:not(.disabled):hover {
    background-color: var(--yellow);
    color: #000;
}

.Button:not(.disabled):active {
    background-color: #fff;
}

.Button.disabled {
    background-color: var(--brown);
    color: var(--golden);
}