.tab {
    display: inline-block;
    flex: 1 1 0;
    height: 2.5rem;
    background-color: #451a0b;
    border: 2px ridge var(--golden);
    border-bottom: 0;
    text-align: center;
    line-height: 2.5rem;
}

.tab.active {
    background-color: #8b2f0b;
    border-bottom: 0;
}

.tab.disabled {
    background-color: #5b6467;
}