.itemicon {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: var(--green);
    font-size: 1rem;
    line-height: 3rem;
    border-left: 1px solid var(--golden);
    user-select: none;
}

.itemicon.disabled {
    background-color: var(--brown);
}

.itemicon.disabled:hover {
    background-color: inherit;
    color: inherit;
}

.itemicon svg {
    vertical-align: middle;
}

.itemicon:hover {
    background-color: goldenrod;
    transition: all .2s linear;
    color: #000;
}