.ControlBar {
    display: flex;
    width: 3.25rem;
    background-color: var(--brown);
    border: 2px ridge var(--golden);
    margin: 0 .25rem;
    flex-direction: column;
    padding: .25rem;
    order: 10;
}