.ControlBar {
    display: flex;
    width: 3.5rem;
    align-items: center;
    background-color: var(--brown);
    border: 2px ridge var(--golden);
    margin-left: .25rem;
    flex-direction: column;
    padding: .25rem;
    order: 10;
}