.servicebar {
    display: flex;
    background-color: var(--brown);
    color: #fff;
    border: 2px solid var(--golden);
    margin-bottom: 1px;
    position: relative;
    user-select: none;
    padding: .5rem;
    width: 100%;
    min-height: 6rem;
}

.servicebar span {
    color: var(--red);
}

.servicebar-left {
    width: 50%;
}

.servicebar-right {
    width: 50%;
    font-size: .85rem;
}