.panelheader {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.25rem;
    background-color: var(--golden);
    border: var(--border);
    margin: 0;
    height: 2.5rem;
    letter-spacing: 4px;
}

.panelheader span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--brown);
    right: .125rem;
    top: calc(50% - 1rem);
    line-height: 1.5rem;
    text-align: center;
    border: 2px ridge var(--golden);
}

.panelheader span:hover {
    background-color: var(--green);
}