.panelheader {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.25rem;
    border: var(--border);
    margin: 0;
    height: 2.5rem;
    letter-spacing: 3px;
    background: #b86d18 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23451a0b' fill-opacity='0.26' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.panelheader span {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--brown);
    right: .125rem;
    top: calc(50% - 1rem);
    line-height: 1.5rem;
    text-align: center;
    border: 2px ridge var(--golden);
}

.panelheader span:hover {
    background-color: var(--green);
}