*, html, body {
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fdff88;
    text-shadow: 1px 1px 0 #333;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}
