:root {
    --golden: #b86d18;
    --brown: #451a0b;
    --red: #ff4108;
    --yellow: #fdff88;
    --green: #00630b;
    --border: 2px ridge var(--golden);
}

*, html, body {
    box-sizing: border-box;
    font-family: 'Bangers', sans-serif;
    text-shadow: 1px 1px 0 #000;
    letter-spacing: 1px;
    color: var(--yellow);
    margin: 0;
    padding: 0;
    cursor: url("./resources/cursor.png"), auto;
}

body {
    background-color: var(--brown);
}

.top {
    background: url("./resources/sky.png");
    background-size: cover;
    width: 100%;
    height: 16rem;
}

.main {

    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 52rem;
}

.tab-holder {
    display: flex;
}