.BurgerItem {
    display: flex;
    border: var(--border);
}

.BurgerItem .image {
    width: 32px;
    text-align: center;
    background-color: #507d7d;
}

.BurgerItem .cell {
    width: calc((100% - 32px) / 2);
    padding: .25rem .5rem;
    font-size: .85rem;
}

.BurgerItem-title span {
    display: inline-block;
    padding-bottom: .25rem;
    font-size: 1rem;
    text-decoration: underline;
}

.BurgerItem-resources {
    display: inline-block;
    padding: 0 .5rem;
}