.itemicon {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background: #00630b;
    font-size: 1rem;
    line-height: 3rem;
    border-left: 1px solid goldenrod;
    user-select: none;
}

.itemicon.disabled {
    background-color: #511908;
}
.itemicon.disabled:hover {
    background-color: inherit;
    color: inherit;
}

.itemicon svg {
    vertical-align: middle;
}
.itemicon:hover {
    background-color: goldenrod;
    transition: all .2s linear;
    color: #00630b;
}