.itembar {
    display: flex;
    background-color: var(--brown);
    color: #fff;
    border: var(--border);
    margin-bottom: 1px;
    position: relative;
    user-select: none;
    padding: .5rem;
}

.itembar.disabled {
    background-color: grey;
}

.itembar-body {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .25rem;
}

.itembar-body-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: .85rem;
}

.itembar-body-footer-produces {
    color: #fff;
    font-size: .75rem;
    margin-right: auto;
}

.itembar .buy-button {
    width: 4rem;
    background-color: var(--green);
    outline: none;
    border: var(--border);
    border-radius: 4px;
}

.itembar .buy-button.disabled {
    background-color: var(--brown);
    color: darkgray;
}

.itembar .buy-button:not(.disabled):hover {
    background-color: var(--yellow);
    color: var(--brown);
}

.itembar .buy-button:active {
    background-color: #fff;
}

.itembar-level {
    display: inline-block;
    margin-left: .5rem;
    color: #fff;
}