.itembar {
    display: flex;
    background-color: var(--brown);
    color: #fff;
    border: 2px solid var(--golden);
    margin-bottom: 1px;
    position: relative;
    user-select: none;
}


.itembar.disabled  {
    background-color: grey;
}

.itembar-body {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 2px solid #444;
    padding: .25rem;
}

.itembar-body-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: .85rem;
}

.itembar-body-footer-produces {
    font-family: 'Alegreya Sans', sans-serif;
    color: #fff;
    font-weight: normal;
    margin-right: auto;
}